services:
  traefik:
    image: traefik:latest
    container_name: traefik

    ports:
      - "80:80"
      - "443:443"

    expose:
      - "8080"

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.yml:/traefik.yml:ro
    restart: unless-stopped

networks:
  default:
    name: traefik
    external: true
